@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-boordens: var(--font-boordens);
  --font-jakarta-sans: var(--font-jakarta-sans);
  --color-Warm-Cream:#FFF1D0;
  --color-Asphalt-Black:#171717; 
  --color-Salsa-Green:#3F7D4A; 
  --color-Street-Corn-Yellow:#F6C344;
  --color-chili-red: #E53920;
  --color-card-charcoal: #1e1e1e;
  --color-neon-lime: #76ff03;
  --color-neon-pink: #ff1744;
  --color-salsa-red: #e53935;
  --color-masa-yellow: #ffc107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-jakarta-sans);
}

h1, h2 {
  font-family: var(--font-boordens);
}
